/* Nav Style */
nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: sticky;
  background-color: beige;
  align-items: center;
  top: 0;
  z-index: 1000; /* Ensure navbar stays on top */
}

/* About - Contact Links */
nav a {
  margin: 0 0.5rem;
  font-size: clamp(16px, 1.5rem, 24px);
  color: #000000;
  text-decoration: none;
  position: relative;
  font-weight: bold;
}

/* Underline Transition (Only for About - Contact Links) */
nav a:not(.name-header)::after {
  content: "";
  width: 0;
  height: 3px;
  background: #283c9f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav a:not(.name-header):hover::after {
  width: 100%;
}

/* Name Header (Hyungmin Oh) Specific Hover Effect */
.name-header {
  font-size: clamp(16px, 1.5rem, 24px);
  color: #000000;
  font-weight: bold;
}

.name-header:hover {
  color: black;
  transform: scale(1.2);
}

/* Intro page */
.header-content {
  display: flex;
  height: 100vh; /* Take up the full height of the screen */
  flex-direction: column; /* Stack the text vertically */
  justify-content: space-between;
  align-items: center;
  padding: 150px; /* Added padding to create space from top and bottom */
}

.header-text h1, .header-text h2 {
  font-size: clamp(45px, 2rem, 3rem);
  margin: 10px 0;
}

.header-text h2 {
  font-size: 1.5rem;
  margin-top: 5px;
}

.header-image {
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically (if needed) */
  width: 100%; /* Ensure it takes full width */
  margin-top: 20px;
}

.header-image img {
  max-width: 500px; /* Ensure the image is not too wide */
  border-radius: 10px; /* Optional: Make the image corners rounded */
  transform: translateY(-30px); /* Pulls image up slightly */
}

@media (max-width: 768px) {
  .header-text h1 {
    font-size: 2.5rem;
  }

  .header-text h2 {
    font-size: 1.2rem;
  }

  .header-image {
    width: 90%;
  }
}

/* Typing Effect */
.type {
  font-size: clamp(24px, 1.5rem, 2.5rem);
  display: inline-block; /* Make sure it behaves like inline text */
  white-space: nowrap; /* Prevents the text from wrapping to the next line */
  overflow: hidden; /* Hide the text */
  position: relative; /* For cursor positioning */
  padding-right: 5px; /* Add space between text and cursor */
}

/* Blinking Cursor */
.type::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: rgb(110, 21, 21); /* The cursor */
  animation: blink 0.75s step-end infinite;
}

/* Blinking animation */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

